
Wizard.xcodeproj/project.xcworkspace/xcshareddata/Wizard.xccheckout

Wizard.xcodeproj/project.xcworkspace/xcuserdata/shuncheng.xcuserdatad/UserInterfaceState.xcuserstate

Wizard.xcodeproj/xcuserdata/shuncheng.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate
